@charset "utf-8";
@import url("2trim info.css");
h1 {
    color: #8E3644;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90px;
}
body {
    color: #000000;
    font-size: 15px;
    margin-top: 0px;
}
